<article class="article article-type-post" itemscope itemprop="blogPost">
    <div class="article-meta">
        <a href="{{url }}" class="article-date">
            <time datetime="{{date }}" itemprop="datePublished">{{date }}</time>
        </a>
    </div>

    <div class="article-inner">
        <input type="hidden" class="isFancy"/>
        <header class="article-header">
            <h1 itemprop="name">
                <a class="article-title" href="/blog/{{url }}">{{title }}</a>
            </h1>
        </header>
        <div class="article-entry" itemprop="articleBody">
            {{{articleHTML}}}
        </div>
    </div>
</article>
